.p0 {padding: 0px !important;}
.p5 {padding: 5px !important;}
.m0 {margin: 0px !important;}
.mt0 {margin-top: 0px !important;}

.p10 {padding: 10px !important;}
.p15 {padding: 15px;}

.pt5 {padding-top: 5px;}
.pt15 {padding-top: 15px;}
.pt25 {padding-top: 25px;}

.pb5 {padding-bottom: 5px;}
.pb25 {padding-bottom: 25px;}
.pb50 {padding-bottom: 50px !important;}
.pr0 {padding-right: 0px;}


.pl5 {padding-left: 5px;}
.pl25 {padding-left: 25px;}

.pr5 {padding-right: 5px;}

.mt-5 {margin-top: -5px;}
.mt-15 {margin-top: -15px;}
.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}
.mt25 {margin-top: 25px;}
.mt30 {margin-top: 30px;}
.mt40 {margin-top: 40px;}
.mt50 {margin-top: 50px;}
.mt60 {margin-top: 60px;}
.mt80 {margin-top: 80px;}
.mt100 {margin-top: 100px;}
.mt10pc {margin-top: 10%;}
.mt-20 {margin-top: -20px;}
.mt-5 {margin-top: -5px;}
.mb10 {margin-bottom: 10px !important;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}
.mb25 {margin-bottom: 25px;}
.mb30 {margin-bottom: 30px;}
.mb50 {margin-bottom: 50px;}
.mb70 {margin-bottom: 70px;}
.mb10pc {margin-bottom: 10%;}
.ml {margin-left: 15px;}
.ml5 {margin-left: 5px;}
.ml15 {margin-left: 15px;}
.mr {margin-right: 15px;}
.mr-10 {margin-right: 10px;}